html {
       overflow-y: scroll;
}

canvas{
  display: block;
}

#barreCompetences{
  margin: 0 auto;
  display: block;
  text-align: center;
}

#barreCompetences div{
  opacity: 0;
  /*-webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;*/
  transition: opacity 2s linear;
  display: inline-block;
}


#barreCompetences .hidden{
  display: none;
}

#barreCompetences img{
  height: 80px;
  width: auto;
  display: block;
}